.bg-img{
   background:linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
   url(bg.jpg) no-repeat center;
   color:white;
   height: 35em;
   padding-top: 9em;
   margin-bottom: 2em;
}
.nav-no-space{
    margin-bottom:0px !important;
}